/* .profile-test-container {
  
  background-image: url("../../assets/fondoTest.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10%;
  overflow: hidden;
}


.profile-test-container img {
  max-width: 100%;
  max-height: 100%;
}

.background-sombra {
  width: 50%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem;
  border-radius: 10px;
}

.background {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  overflow: hidden;
  border: none;
  box-shadow: none;
  outline: none;

  @media (max-width: 768px) {
    .background {
      height: 60vh;
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      .background {
        height: 50vh;
        font-size: 1rem;
      }
    }
  }
}
 */
/* .App {
  text-align: center;
  font-family: Arial, sans-serif;

  h1 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 200px;

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }

        &:disabled {
          background-color: #cccccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
 */
.test-background {
  background-image: url("../../assets/fondoTest.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  overflow: hidden;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .test-title {
    font-size: 2.5rem;
    color: white;
    margin-top: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}
.results {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
  margin-bottom: 10%;
  color: white;
}
.results-title {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  color: aliceblue;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.portada p {
  margin: 10px;
  font-size: 1.5rem;
}
