.profile-test-container {
    //max-width: 100%;
    //max-height: 100%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;
    //background-image: url('../../assets/fondoTest.jpeg');
    //background-size: cover;
    //background-position: center;
}

.profile-test-container img {
    max-width: 100%;
    max-height: 100%;
    
}

.background-sombra {
width: 50%;
height: 50vh;
background-color: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: end;
padding: 1rem;
border-radius: 10px;

}
       
    .background {
        height: 80vh;
         width: 100vw;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         display: flex;
         align-items: center;
         justify-content: center;
         color: white;
         font-size: 2rem;
         overflow: hidden;
         border: none;
         box-shadow: none;
         outline: none;


         @media (max-width: 768px) {
            .background {
                height: 60vh;
                font-size: 1.5rem;
            }
       
        @media (max-width: 480px) {
                .background {
                    height: 50vh;
                    font-size: 1rem;
            }
        }
 }
    
    }
         