.header {
    position: relative;
    margin-top: 0vh;
    height: 10vh;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color:white;
    width: 2000px;
    margin-left: 80px;
    cursor: pointer;
}

.no-underline {
    text-decoration: none; 
    color: inherit; 
}

.logo h1:hover,
h2:hover {
    font-size: 47px;
}

.logo h1 {
    font-family: var(--tipografia-title2);
    font-size: 42px;
    font-weight: bold;
}

.logo h2 {
    font-family: var(--tipografia-title2);
    font-size: 43px;
    font-weight: 300;
}

.horizontal-menu {
    display: flex;
    margin-left: -500px;
    font-family: var(--tipografia-title);
    font-size: 20px;

}

.horizontal-menu ul {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-menu ul li {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85px;
    font-size: 18px;
    margin-right: 2px;
    cursor: pointer;
    transition: color 0.3s;
    height: 30px;
    text-decoration: none;
    color: white;
}

.horizontal-menu a {
    text-decoration: none;
    text-align: center;
}

.horizontal-menu ul li:hover {
    background-color: #07878F;
    height: 35px;
    border-radius: 10px;
}

@media (max-width: 900px) {

    .horizontal-menu ul{
        width: 900px;
    }
    .horizontal-menu ul li {
        width: -250px;
        font-size: 16px;
    }

    .header {
        margin-top: 0vh;
    }

    .logo {
        margin-left: 60px;
       
    }
}


@media (max-width: 768px) {

    .header {
        position: relative;
        padding: 8px;
        margin-top: 0vh;
        height: 8vh;
        margin-right: 1px;
    }

    .logo {
        width: 2000px;
        margin-left: 25px;
    }

    .logo img {
        height: 30px;
    }

    .logo h1 {
        font-size: 25px;
    }

    .logo h2 {
        font-size: 23px;
    }

    .logo h1:hover,
    h2:hover {
        font-size: 27px;
    }

    .horizontal-menu{
        margin-right: 80px;
    }

    .horizontal-menu ul {
        justify-content: center;
        align-items: center;
        width: 1000px;
    }

    .horizontal-menu ul li {
        font-size: 12px;
        height: 20px;
        margin-left: -1px;
    }

    .horizontal-menu ul li:hover {
        background-color: #07878F;
        height: 23px;
        border-radius: 6px;
    }    
}


@media (max-width: 480px) {

    .background {
        height: 80vh;
        font-size: 1rem;
    }

    .header {
        position: relative;
        margin-top: 0px;
        height: 40vh;
        width: 100vw;
    }

    .logo {
        margin-left: 150px;
        margin-top: 20px;
        width: 8000px;
    }

    .logo h1 {
        font-size: 18px;
        width: 55px;
    }

    .logo h2 {
        font-size: 18px;
        width: 50px;
    }

    .logo h1:hover,
    h2:hover {
        font-size: 15px;
    }

    .horizontal-menu {
        margin-left: 10px;
    }

    .horizontal-menu ul {
        flex-direction: column;
        height: 100px;
        width: 3500px;
    }
}