.header {
    position: fixed;
    width: 100%;
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.3);

    .no-underline {
        margin-left: 20px;
        img {
            width: 250px;
        }
    }

    .horizontal-menu {
        display: flex;
        width: 70%;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        margin-right: 20px;
        .menuA {
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;

            &__item {
                text-decoration: none;
                padding: 8px 10px;
                border-radius: 15px;
                color: #fff;
                font-size: 18px;

                &:hover {
                    background-color: #07868f52;
                }
            }

            .active {
                color: #07878f;
            }
        }
    }
}

.logOutBtn {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;

    p{
        margin-right: 50px;
    }

    &__image {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    ul{
        position: absolute;
        top:100%;
        right: 0;
        width: 100px;
        background-color: #ffffffc3;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 5px;
        li{
            button{
                border:none;
                background-color: transparent;
                text-align: left;
                &:hover{
                    color: #07878f;
                }
            }
        }
    }
}

// .header{
//     margin-top: 1%;
//     height: 20%;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap:5px;
//     background-color: rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
// }
// .menu-toggle {
//     display: none;
//     font-size: 24px;

//     background: none;
//     border: none;
//     cursor: pointer;
//   }

// .logo{
//     margin-left: 5%;
//     flex: 0 0 20%;
// }

// .logo img {
//     width: 100%;
//     height: 80%;   
// }
// .horizontal-menu{
//     flex: 0 0 80%;
// }

// .menuA {
//     list-style: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 18px;
// }
// .menuA button{
//    border: none;
//    margin-right: 15px;
// }

// .menuA img{
//     height: 30px;
//     width: 30px;
// }
// .menuA button {
//     background-color: rgba(0, 0, 0, 0.0);
//     border-radius: 50%;
//     cursor: pointer;
// }

// .menuA li{
//     color: white;
//     width: 100px;
// }

// .horizontal-menu a {
//     text-decoration: none;
//     text-align: center;
// }
// .horizontal-menu ul li:hover {
//     background-color: #07878F;
//     font-size: 15px;
//     border-radius: 10px;
// }
// .logOutBtn{
//     display: flex;
//     flex-direction: column;
//     &__image{
//         width: 50px;
//         height: 50px;
//         border: none;
//         border-radius: 50%;
//         overflow: hidden;

//         img{
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             object-position: center;
//             border-radius: 50%;
//         }

//     }
// }
// @media (max-width: 768px) {
//     .header{
//         margin-top: 1%;

//     }
//     .logo{
//         margin-left: 2%;
//     }

//     .menuA {
//         font-size: 12px;
//     }
//     .menuA li{

//         width: 80px;
//     }
//     .horizontal-menu ul li:hover {
//         background-color: #07878F;
//         font-size: 13px;
//         border-radius: 10px;
//         text-align: center;
//         margin-right: 10px;
//     }
// }


// @media (max-width: 480px) {
//     .header{
//         margin-top: 1%;

//     }
//     .logo{
//         margin-left: 5%;
//         flex: 0 0 80%;
//     }
//     .logo img {
//         width: 100%;
//         height: 50px;    
//     }
//     .menuA {
//         display: none;
//         flex-direction: column;
//         width: 100%;
//     }
//     .menu-toggle {
//         display: block;
//     }

//     .horizontal-menu{
//         display: flex;
//         flex: 0 0 20%;
//         justify-content: center;
//         margin-right: 10px;
//     }

// }