.result {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.result h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}
.ver-mas-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #07878f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.result p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #666;
}

.result img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}

.no-results {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.no-results h1 {
  font-size: 1.5em;
  color: #d9534f;
}
