/* Header.scss */
:root {
  --primary-color: #07878f;
  --secondary-color: #04666d;
}
.header-container {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin-left: 5%;
  margin-left: 5%;
  align-items: center;
  background-color: white;
}

.title-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-header h1 {
  margin: 0;
  color: var(--primary-color);
  font-size: 24px;
}

.title-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  margin-right: 20px;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--primary-color);
}
.nav-links .active {
  font-weight: bold;
  color: var(--primary-color);
}
/* Buttons */
.btn-container {
  display: flex;
  margin-right: 20px;
  gap: 20px;
}

.btn-register {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-register:hover {
  background-color: var(--secondary-color);
}

.btn-login {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-login:hover {
  background-color: var(--primary-color);
  color: white;
}
