.slider-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto; /* Esto centra el slider horizontalmente */
  width: 60%; /* Ancho del slider */
  height: 30vh;
}
.slide-content {
  position: relative;
}

.destination-name {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  left: 10px; /* Ajusta la posición horizontal para centrarlo en el lado izquierdo */
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para que el texto sea legible */
  padding: 5px 10px;
}
