@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

.destinosForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  font-family: "Archivo", sans-serif;

  &__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    color: #171a1fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;

    h3,
    h4 {
      font-size: 1.5rem;
      color: #007bff;
      margin-bottom: 0.5rem;
    }

    section {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    button {
      padding: 0.75rem 1.5rem;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }

      &[type="button"] {
        background-color: #28a745;

        &:hover {
          background-color: #218838;
        }
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      font-family: "Hind", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #333;
    }

    input,
    textarea,
    select {
      padding: 8px 15px;
      border-radius: 12px;
      outline: none;
      background-color: transparent;
      border: 1px solid rgb(76, 75, 75);
      font-family: "Archivo", sans-serif;

      &:focus {
        border-color: rgba(41, 26, 255, 0.732);
      }
    }

    input[type="checkbox"] {
      width: auto;
      margin-right: 10px;
    }
  }
}
