@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

:root {
  --tipografia-title: "Montserrat", sans-serif;
 // --tipografia-title: "Sansita Swashed", system-ui;
 // --tipografia-title3: "Roboto", sans-serif;
 // --tipografia-text: "Manrope", sans-serif;
 --tipografia-text: "Roboto", sans-serif;
  --primary-color: #07878f;
}
* {
  font-family: var(--tipografia-title);
}
