.custom-button {
  width: 200px;
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  font-family: var(--tipografia-title2);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
  