// ButtonTest.scss

.custom-button {
    padding: 12px 24px; // Ajusta el tamaño del botón aumentando el padding
    background-color: #2ab7e6;
    color: #f1eded;
    border: none; // Elimina el borde del botón
    border-radius: 8px;
    cursor: pointer; 
    font-style: italic; 
  
    &:hover {
      opacity: 0.8; // Reduce la opacidad al pasar el cursor sobre el botón
    }
  
    &:focus {
      outline: none; // Elimina el contorno al enfocar el botón
    }
  }
  