.askBox {
  // height: 50vh;
  color: #fff;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  gap: 10px;
  margin-left: 25%;
  overflow: hidden;
  margin-right: 25%;
  margin-top: 6%;
  section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
