.askBox {
  width: 50%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  gap: 10px;

  section{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
