.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  
    .map {
      flex: 1;
      margin-right: 20px;
    }
  
    .contact-info {
      flex: 1;
  
      .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
  
    .reviews {
      flex: 1;
      background-color: #f9f9f9;
      padding: 20px;
  
      h2 {
        margin-bottom: 10px;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
        }
      }
    }
  }