@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

:root {
  --tipografia-title: "Montserrat", sans-serif;
  --tipografia-title2: "Sansita Swashed", system-ui;
  --tipografia-title3: "Roboto", sans-serif;
  --tipografia-text: "Manrope", sans-serif;
  --primary-color: #07878f;
}

* {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  // overflow: hidden;
  border: none;
  box-shadow: none;
  outline: none;
}

.contenido_body {
  margin: 100px;
  padding: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.body_tittle {
  padding: 20px;
  font-family: var(--tipografia-title2);
  font-size: 35px;
}

.body_text {
  padding: 20px;
  font-family: var(--tipografia-title3);
  font-size: 18px;
  text-align: justify;
}

.body_button {
  width: 200px;
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  font-family: var(--tipografia-title2);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 20px;

  cursor: pointer;
}

.body_button:hover {
  width: 210px;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.71);
  font-family: var(--tipografia-title2);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 20px;

  cursor: pointer;
}

@media (max-width: 900px) {
  .contenido_body {
    margin: 80px;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .background {
    font-size: 1.5rem;
  }

  .contenido_body {
    margin: 100px;
    margin-top: 50px;
    padding: auto;
    width: 80%;
  }

  .body_tittle {
    font-size: 30px;
  }

  .body_text {
    padding: 20px;
    padding-top: 10px;
    font-size: 15px;
  }

  .body_button {
    width: 180px;
    margin-left: 20px;
    font-size: 18px;
  }
  .body_button:hover {
    width: 190px;
    margin-left: 20px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .background {
    height: 80vh;
    font-size: 1rem;
  }

  .contenido_body {
    margin: 100px;
    margin-top: 20px;
    padding: auto;
    width: 95%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .body_tittle {
    font-size: 25px;
  }

  .body_text {
    padding: 15px;
    padding-top: 10px;
    font-size: 12px;
  }

  .body_button {
    width: 180px;
    margin-left: 20px;
    font-size: 18px;
  }

  .body_button:hover {
    width: 190px;
    margin-left: 20px;
    font-size: 18px;
  }
}
