.reseñas-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10%;
}
.portada {
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  .imagen-destino {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  .titulo-destino {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.lista-reseñas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .reseña-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-10px);
    }

    .reseña-card-header {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      .reseña-fecha {
        margin-right: 70px;
        background: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #333;
      }

      .reseña-fav {
        background: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }

    .reseña-imagen {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .reseña-card-content {
      padding: 15px;

      .reseña-rating {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .reseña-puntaje {
          font-size: 1rem;
          color: #f39c12;
          margin-right: 5px;
        }

        .reseña-ubicacion {
          font-size: 0.9rem;
          color: #555;
        }
      }

      .reseña-titulo {
        font-size: 1rem;
        color: #333;
        margin-bottom: 5px;
      }

      .reseña-precio {
        font-size: 1rem;
        color: #e74c3c;
      }
    }
  }
}
